#categorylist {
  :hover {
    transform: scale(1.01);
    opacity: 1;
  }
}

#categorylist {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  li {
    width: 300px;
    padding: 15px;
    list-style-type: none;
    text-align: center;
    background-color: $primary-color;
    border-radius: 10%;
    margin: 25px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
  }
}
