.results {
  text-align: center;
  background-color: $primary-color;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.3);
  margin: 20px;
  border-radius: 2%;
  //fixes issue with row cropping
  flex-shrink: 1 !important;

  img {
    margin: 20px;
  }

  button {
    margin: 10px 0 30px;
  }
}

.centre {
  justify-content: center;
}