#weather {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;

  li {
    width: 300px;
    margin: 15px;
    padding: 25px;
    list-style-type: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 2%;
  }
}

#single {
  list-style-type: none;
  text-align: center;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2%;

  li {
    margin-bottom: 10px;
    padding: 25px;
    margin: 15px;
  }
  .date {
    margin: 20px;
  }
}
