body {
  button {
    background-color: $tertiary-color !important;
    color: #000 !important;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    border-width: 0px;
    text-transform: uppercase;
  }
  button:hover {
    color: #fff !important;
    transition-duration: 0.5s;
    background-color: $secondary-color !important;
    transition-duration: 0.5s;
  }
}
