p,
li,
ul,
button {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: $secondary-color;
  padding: 1rem 0 1rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: $secondary-color;
  padding: 1rem 0 1rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $secondary-color;
}
