img {
  max-width: 100%;
  height: auto;
}

.poseimage {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
}

.moonimage {
  height: 325px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;

}